<nav> 
  <a href="/"> <img src="/inquisitivechi.gif" </img> </a>
  <h1>Chi Knews: All the news fit to purrrr </h1>
  <div id="login_links">
  <a href="/submit">Create a post</a> 
  <form action='/' method='post'>
  <input value='@username' type="text" name='user[username]' placeholder='enter your username'>
  <input type="password" name="user[password]" placeholder="enter your password">
  <button>Log In</button>
  </form>
  <a href="/signup">Create Account</a>
</div>
</nav>

<div class="posts">
  <%@post.each do |post|%>
  <a href="#"> <%=post.title%> </a>
  <% end %>
</div>
