<nav> 
  <a href="/"> <img src="/inquisitivechi.gif" </img> </a>
  <h1>Chi Knews: All the news fit to purrrr </h1>
  <div id="login_links">
  <a href="/submit">New Post</a>
  
  <a href="/login">Login</a> 
  <a href="/signup">Sign Up</a>
</div>
</nav>


